{% extends 'base.html' %}
{% block title %}Hospital Ranking Form{% endblock %}

<head>
    {% load staticfiles %}
    <script src="{% static 'hospitalRanking/js/index.js' %}"></script>
</head>


{% block body %}
<div class="container">
    <div class="well text-center">
        <p>
            Please fill out the form with your rankings so that we can customize the results to your needs.
        </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Hospital Ranking Form</h3>
        </div>
        <div class="panel-body">
            <form id="rankingForm" method="post" action="{% url 'hospitalRanking:submit_ranking_form' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input id="zipcode" class="form-control" name="zipcode" placeholder="27606" required>
                </div>

                <div class="form-group">
                    <label for="priorityExample1">Priority Example</label>
                    <select id="priorityExample1" class="form-control" name="priorityExample1" required>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priorityExample2">Priority Example</label>
                    <select id="priorityExample2" class="form-control" name="priorityExample2" required>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priorityExample3">Priority Example</label>
                    <select id="priorityExample3" class="form-control" name="priorityExample3" required>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>

                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                    <button id="resetButton"  type="button" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}