{% extends 'base.html' %}
{% block title %}Hospital Ranking Form{% endblock %}

<head>
    {% load staticfiles %}
</head>


{% block body %}
<div class="container">
    <div class="well text-center">
        <p>Please fill out the form with your rankings so that we can customize the results to your needs.</p>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Hospital Ranking Form</h3>
        </div>
        <div class="panel-body">
            <form id="rankingForm" class="form-horizontal" method="post" action="{% url 'hospitalRanking:submit_ranking_form' %}">
                {% csrf_token %}
                <h4 class="text-center">Location (stretch)</h4>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <label for="location" class="col-sm-4 control-label">Location</label>
                        <div class="col-sm-8">
                            <input id="location" class="form-control" name="location" placeholder="City, Zip">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label for="distanceInMiles" class="col-sm-4 control-label">Distance</label>
                        <div class="col-sm-8">
                            <select id="distanceInMiles" class="form-control" name="distanceInMiles" required>
                                <option value="25">< 25 Miles</option>
                                <option value="50">< 50 Miles</option>
                                <option value="100">< 100 Miles</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>



                <h4 class="text-center">Priorities</h4>
                <div class="row" style="padding: 1em;">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="priorityExample1" class="col-sm-4 control-label">Cost of Care</label>
                            <div class="col-sm-8">
                                <input
                                    id="priorityExample1" class="form-control" type="text" name="priorityExample1"
                                    data-provide="slider"
                                    data-slider-min="0.75"
                                    data-slider-max="1.25"
                                    data-slider-step="0.05"
                                    data-slider-value="1.00"

                                    data-slider-ticks="[0.75, 1.0, 1.25]"
                                    data-slider-ticks-labels='["Low", "Medium", "High"]'>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="priorityExample2" class="col-sm-4 control-label">Timely and Effective Care</label>
                            <div class="col-sm-8">
                                <input
                                    id="priorityExample2" class="form-control" type="text" name="priorityExample2"
                                    data-provide="slider"
                                    data-slider-min="0.75"
                                    data-slider-max="1.25"
                                    data-slider-step="0.05"
                                    data-slider-value="1.00"

                                    data-slider-ticks="[0.75, 1.0, 1.25]"
                                    data-slider-ticks-labels='["Low", "Medium", "High"]'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 1em;">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="priorityExample3" class="col-sm-4 control-label">Complications and Deaths</label>
                            <div class="col-sm-8">
                                <input
                                    id="priorityExample3" class="form-control" type="text" name="priorityExample3"
                                    data-provide="slider"
                                    data-slider-min="0.75"
                                    data-slider-max="1.25"
                                    data-slider-step="0.05"
                                    data-slider-value="1.00"

                                    data-slider-ticks="[0.75, 1.0, 1.25]"
                                    data-slider-ticks-labels='["Low", "Medium", "High"]'>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="priorityExample4" class="col-sm-4 control-label">Returns</label>
                            <div class="col-sm-8">
                                <input
                                    id="priorityExample4" class="form-control" type="text" name="priorityExample4"
                                    data-provide="slider"
                                    data-slider-min="0.75"
                                    data-slider-max="1.25"
                                    data-slider-step="0.05"
                                    data-slider-value="1.00"

                                    data-slider-ticks="[0.75, 1.0, 1.25]"
                                    data-slider-ticks-labels='["Low", "Medium", "High"]'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding: 1em;">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-group">
                            <label for="priorityExample5" class="col-sm-4 control-label">Doctor Rank</label>
                            <div class="col-sm-8">
                                <input
                                    id="priorityExample5" class="form-control" type="text" name="priorityExample5"
                                    data-provide="slider"
                                    data-slider-min="0.75"
                                    data-slider-max="1.25"
                                    data-slider-step="0.05"
                                    data-slider-value="1.00"

                                    data-slider-ticks="[0.75, 1.0, 1.25]"
                                    data-slider-ticks-labels='["Low", "Medium", "High"]'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                    <button id="resetButton" type="button" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'hospitalRanking/js/index.js' %}"></script>
<script>

</script>
{% endblock %}